.project
.cproject
bin
tags
output

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.lib

# Executables
*.exe
*.out
*.app
dependency/googletest/googletest/make/gtest_main.a
dependency/googletest/googletest/make/sample1_unittest
